.home-boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home-boxes div {
  width: 20%;
  margin: 20px;
}

.homeBody h1 {
  font-weight: 800;
  margin-top: 60px;
  margin-bottom: 40px;
}

.logoEnot {
  width: 200px;
  height: 160px;
}

.logoLine {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}