.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10%;
}

.userNamePhoto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.userNamePhoto img{
  width: 200px;
  height: 200px;
  border-radius: 50%
}