.notes {
width: 70%;
display: flex;
flex-direction: column;
margin: 0 auto;

}

.notesAndCreate {
display: flex;
flex-direction: column;
margin: 0 auto;
}

.allNotes {
  display: flex;
flex-direction: row;
}

.allNotes div {
  width: 30%;
  margin: 20px;
  padding: 20px;
  background-color: rgb(238, 238, 238);
  border: 0.5px solid rgb(204, 204, 204);
  border-radius: 10px;
}

.createNote {
  margin: 40px;
}

a {
  color: #828286;
}


