.notes {
display: flex;
flex-direction: column;
margin: 0 auto;

}

.notesAndCreate {
  width: 100%;
margin: 0 auto;
}

.allNotes {
  display: flex;
flex-direction: row;
flex-wrap: wrap;
}


.noteBoxResponsive {
  border: 1px solid #dadce0;
  border-radius: 10px;
  font-family: 'Open Sans',Roboto,Arial,sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5rem;
  overflow: hidden;
  max-height: 250px;
  text-overflow: ellipsis;
  margin: 10px;
  padding: 10px;
}

.noteBoxResponsive:hover {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
}

.noteBoxResponsive .noteDetailInPopup {
  white-space: normal;
}

.noteBoxResponsive .noteDetailInPopup a{
  white-space: normal;
}


.noteBoxResponsive p, .noteBoxResponsive ul, .noteBoxResponsive ul{
  color: #272727;
  font-size: 0.8em;
  text-overflow: ellipsis;
  text-align: left;
}

.noteBoxResponsive p {
  margin: 5px;
  text-align: justify;
  text-justify: inter-word;
}

.noteBoxResponsive .showNoteTitle{
  margin-top:  10px;
}

.noteColor a {
  color: #202124;
  font-size: 1.2em;
}

.noteColor p {
  color: #202124;
  font-size: 0.8em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.noteColor a:hover {
  color: rgb(129, 0, 22);
  text-decoration: none;
}

.noteLightBlue {
  background-color: #add8e6;
}

.noteCoral {
  background-color: #ff9966;
}

.noteAqua {
  background-color: #b8ffd6;
}

.noteFuxia {
  background-color: #f2a7ff;
}


.noteCoral {
  background-color: #ff9966;
}

.noteLightgreen {
  background-color: lightgreen;
}

.noteFabada {
  background-color: #fabada;
}

.noteYellow {
  background-color: #f5ef9f;
}



.createNote {
  margin: 40px;
}

a {
  color: #828286;
}

.showNoteTools {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.showNoteTools button {
  padding-right: 20px;
}

.allNotes .noteColor:hover {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
}

.ql-toolbar span {
  background-color: transparent !important;
}

.ql-toolbar.ql-snow {
  border: none !important;
}

.ql-container.ql-snow {
  border-left: none !important;
  border-right: none !important;
  width: 80%;
  margin: 0 auto;
}

.createNoteBox {
  margin: 5% auto;
  width: 70%;
  border-radius: 10px;
  background-color: white;
  padding: 15px;
}

input {
  border-width: 0px;
  outline: none;
  margin: 3px;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}

.quill {
  margin: 30px;
}

.createNoteBox h2 {
  margin: 30px;
}

.createNoteBox:hover{
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
}

input[type=file] {
  cursor: pointer;
  width: 180px;
  height: 34px;
  overflow: hidden;
  border-bottom: none;
}

input[type=submit] {
  cursor: pointer;
  background: #39D2B4;
  border-radius: 5px;
}

input[type=submit]:hover {
  background: rgb(15, 43, 87);
  color: rgb(255, 212, 188);
}

input[type=file]:before {
  width: 158px;
  height: 40px;
  font-size: 16px;
  line-height: 32px;
  content: 'Select your file';
  display: inline-block;
  background: white;
  padding: 0 15px;
  text-align: center;
}

input[type=file]::-webkit-file-upload-button {
  visibility: hidden;
}

.noteTools {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.createNoteTitle {
  width: 70%;
}

.leftButton {
  float: left;
}

.popup-overlay {
  overflow-y: scroll;
}

code {
  text-align: left !important;
}

.col-md-2, .col-sm-6 {
   position: static !important;
}

.noteDetailInPopup ul {
  text-align: left;
}





