.navbarStyle ul {
  list-style: none; /* Remove list bullets */
    padding-top: 30px;
    padding-bottom: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbarStyle ul li {
  margin-left: 40px;
  margin-right: 40px;
}

.navbarStyle hr {
  margin-bottom: 0px;
  margin-top: 0px;
}